body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-header {
    margin-bottom: 1px;
  }
  
  .login-logo {
    height: 250px;
    width: 250px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    color: #666;
    font-size: 14px;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .social-login-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .google-signin {
    padding: 10px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .google-signin:hover {
    background-color: #357ae8;
  }
  
  .login-button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #333;
  }
  